*{font-family:Arial; background-color:lightblue;} 
 
h1{font-size:60px;font-family:Arial;}
 
h2{font-size:45px;font-family:Arial;}
h3{font-size:30px;}
     
     
     
    img{border:1px solid #4682b4;height:300px;width:400px;}
